@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.card-nft {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.mr-wallet-button {
  border: 0 !important;
  box-shadow: none !important;
}

.spinner {
  display: inline-block;
  border: 2px solid rgba(75, 75, 75, 0.3);
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite; /* Animasi putaran */
}

/* Animasi putaran */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}