@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.card-nft {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.mr-wallet-button {
  border: 0 !important;
  box-shadow: none !important;
}